<section id="card" class="card"     
    [ngClass]="isBack ? 'active' : ''">
    
    <div id="card-font" (click)="clickEvent()" class="card-font">

        <div class="card-font-type">
            <img *ngIf="isVisa" class="height-65" src="../../../assets/visa.png" alt="visa">
            <img *ngIf="isMaster" class="height-65" src="../../../assets/mastercard.png" alt="mastercard">
        </div>
          
        <section class="height-65">
            <p class="number-title">Número Tarjeta</p>
            <p class="number">{{ number }}</p>
        </section>

        <section class="card-front-content">
            <div class="card-front-content-direction">
                <p class="number-title">Nombre Tarjeta</p>
                <p class="number">{{ name }}</p>
            </div>
            
            <div class="card-front-content-direction">
                <p class="number-title">Vencimiento</p>
                <p class="number">{{ month }} / {{ year }}</p>
            </div>
        </section>
    </div>
    
    <div id="card-back"  (click)="clickEvent()" class="card-back">
        <div>Centro de atencion al cliente 0800-800-088</div>
        <div class="magnetic-bar"></div>
        <div class="card-back-data">
            <div>
                <p class="number-title">Firma</p>
                <div class="firm"></div>
            </div>
            <div id="ccv">
                <p class="number-title">CCV</p>
                <p class="cvv-block"> {{ cvv }} </p>
            </div>
        </div>
       
        <p class="card-back-text"> 
            Lee el primer número de tu número de tarjeta de crédito o débito para saber qué tipo de tarjeta tienes. Las tarjetas Visa comienzan con el número 4 y las tarjetas MasterCard comienzan con 5.
        </p>
    </div>
</section>

<div class="form">
    <mat-form-field class="margin-top-40 full-width">
        <mat-label>Numero Tarjeta</mat-label>
        <input  maxlength="16" (focus)="showFront()" (ngModelChange)="changeCardNumber()"
        matInput [(ngModel)]="number">
    </mat-form-field>

    <mat-form-field class="margin-top-40 full-width">
        <mat-label>Nombre Completo</mat-label>
        <input  maxlength="25" (focus)="showFront()" matInput [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field class="margin-top-40 width-30">
        <mat-label>Mes Vencimiento</mat-label>
        <input  maxlength="2" (focus)="showFront()" matInput [(ngModel)]="month">
    </mat-form-field>

    <mat-form-field class="width-30 margin-left">
        <mat-label>Año Vencimiento</mat-label>
        <input  maxlength="2" (focus)="showFront()" matInput [(ngModel)]="year">
    </mat-form-field>

    <mat-form-field class="width-30 margin-left">
        <mat-label>CVV</mat-label>
        <input  maxlength="3" (focus)="showBack()" matInput [(ngModel)]="cvv">
    </mat-form-field>
</div>
