.card {
    display: flex;  
    align-items: center;
    flex-direction: column;
    transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
    z-index: 2;
    font-family: 'Lato', sans-serif;
}

.card.active {
	transform: rotateY(180deg);
}

/* FRENTE DE LA TARJETA */
.card-font {
    cursor: pointer;
    padding: 25px;
    height: 260px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
    background: url(../../../assets/card.png);
    background-size: cover;
}

.card-font-type {
    display: flex;
    flex-direction: row-reverse;
    height: 130px;
}

.card-front-content {
    display: flex;
    justify-content: space-between;
}

.card-front-content-direction {
    flex-direction: column;
}

.number {
    margin: 0;
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
    text-shadow: -1px 0 black, 0 1px black,
	  1px 0 black, 0 -1px black
}

.number-title {
    font-size: 16px;
    color: #7d8994;
    margin-bottom: 5px;
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black
}

/* PARTE TRASERA DE LA TARJETA */
.card-back {
    cursor: pointer;
    padding: 25px;
    height: 260px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
    background: url(../../../assets/card.png);

    background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.card-back-data {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.cvv-block {
    height: 20px; 
    padding: 5px; 
    width: 100px; 
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    margin-top: 10px;
}

.firm {
    height: 40px;
    width: 400px;
    background-color: gray;
}

.card-back-text {
    margin-top: 30px;
    color: white;
    font-size: 15px;
}

.magnetic-bar { 
    height: 50px;
    background: #000;
    width: 100%;
    position: absolute;
    left: 0;
}


/* Formulario */
.form {
    background-color: #fafafa;
    margin-top: -45px;
    border: 1px solid rgb(207, 191, 191);
    padding: 30px;
    width: 700px;
    box-shadow: 0 10px 10px 0 rgba(159, 163, 168, 0.3);
    border-radius: 10px;
}


/* Spaciados */
.height-65 {
    height: 65px;
}

.margin-top-40 {
    margin-top: 40px;
}

.full-width {
    width: 100%;
}

.width-30 {
    width: 30%;
}

.margin-left {
    margin-left: 5%;
}